
.cardContain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.outrDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding:8%;
  padding-top: 10px;
}
.myCard{
  margin:1.6rem;
  cursor:pointer;
  animation: fadeIn 5s;
  padding: 9px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 26px 0px rgba(166, 159, 166, 1);
    -moz-box-shadow: 0px 0px 26px 0px rgba(166, 159, 166, 1);
    box-shadow: 0px 0px 26px 0px rgba(166, 159, 166, 1);
  
}
.imgCard{
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(166, 159, 166, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(166, 159, 166, 1);
    box-shadow: 0px 0px 5px 0px rgba(166, 159, 166, 1);
}
.myshadow{
  -webkit-box-shadow: 0px 0px 26px 0px rgba(166, 159, 166, 1);
    -moz-box-shadow: 0px 0px 26px 0px rgba(166, 159, 166, 1);
    box-shadow: 0px 0px 26px 0px rgba(166, 159, 166, 1);
}
@keyframes fadeIn {
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}